##Stores information related to testing environments for automated testing configuration to read from.
##In the future will be an external config file edited/accessed by PM's/testers

## should match the beanstalkapp machine name for the project ala https://knectar.beanstalkapp.com/MACHINENAME as that will already be in place in the path of any environment.
whitetest:
  environments:
  ## should match the branch
    dev:
        base_url:
        features:
    production:
        base_url:
        features:
  profiles: #to run as set in profiles.yml
    - win-chrome
    - android
    - iPhone
  behat-params:
        format:
        out: /home/jacob/sample.html
massenergy:
  environments:
  ## should match the branch
    dev:
        base_url:
        features:
    production:
        base_url:
        features:
  profiles: #to run as set in profiles.yml
    - win-chrome
    - android
    - iPhone
